.Top_mn_body {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
}

.Top_mn_logo {
  width: 10%;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

.Top_mn_logo a {
  width: 100%;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.Top_mn_menu {
  margin: 0 auto 0 5%;
  width: auto;

  display: flex;
  align-items: center;
}

.Top_mn_menu > ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.Top_mn_menu > ul li {
  position: relative;
  margin: 0 10px;
  width: 80px;
}


.Top_mn_menu a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.Top_mn_login {
  display: flex;

  margin: 0 1%;

  align-items: center;
  justify-content: center;
}

.Top_mn_login div{
  margin: 0 5px;
}

.Top_mn_find a{
  width: 20px;
  height: 20px;
}

.login_submit a{
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}