.Top_mn_body {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
}

.Top_mn_logo {
  width: 10%;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

.Top_mn_logo a {
  width: 100%;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.Top_mn_menu {
  width: 75%;
  height: auto;
  display: flex;
  align-items: center;
}

.Top_mn_menu > ul {
  width: 60%;
  display: flex;
  padding: 0;
  list-style: none;
}

.Top_mn_menu > ul li {
  position: relative;
  margin-left: 10px;
}

.Top_mn_menu > ul li:first-child {
  margin: 0;
}


.Top_mn_menu a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.Top_mn_login {
  width: 15%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Top_mn_login .Top_mn_find{
  width: 40%;
  height: auto;
}

.Top_mn_find a{
  width: 20px;
  height: 20px;
}

.Top_mn_login .login_submit{
  width: 60%;
  height: auto;
}

.login_submit a{
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}